.c1 {
    position: relative;
    width: 1545px;
    height: 271px;
    bottom: 2004.5px;
    background-color: grey;
}

.c2 {
    position: relative;
    width: 1545px;
    height: 470.5px;
    bottom: 2004px;
    background-color: #d46767;
}

.c3 {
    position: relative;
    width: 1173.5px;
    height: 224px;
    bottom: 1969px;
    left: 371px;
    background-color: #d46767;
}

.c4 {
    position: relative;
    width: 1173.5px;
    height: 224px;
    bottom: 1929px;
    left: 371px;
    background-color: #d46767;
}

.c5 {
    position: relative;
    width: 1173.5px;
    height: 224px;
    bottom: 1887.5px;
    left: 371px;
    background-color: #d46767;
}

.c6 {
    position: relative;
    width: 1173.5px;
    height: 224px;
    bottom: 1847px;
    left: 371px;
    background-color: #d46767;
}

.c7 {
    position: relative;
    width: 1451.5px;
    height: 164px;
    bottom: 1811.5px;
    left: 44px;
    background-color: #d46767;
}
